<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Deadlock</title>
    <link rel="stylesheet" href="styles/interbloqueo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h5 id="h5"> {{{select}}} </h5>
        <div class="row mb-3">
            <div class="col-3">
                <div class="card text-center border-primary">
                    <img src="pix/icono_SLI.png" class="card-img-top" alt="SLI">
                    <div class="card-body">
                        <a class="card-link" href="{{{sli_url}}}"> {{{sli}}} </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-primary">
                    <img src="pix/icono_MS.png" class="card-img-top" alt="MS">
                    <div class="card-body">
                        <a class="card-link" href="{{{ms_url}}}"> {{{ms}}} </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-primary">
                    <img src="pix/icono_VD.png" class="card-img-top" alt="DM">
                    <div class="card-body">
                        <a class="card-link" href="{{{dm_url}}}"> {{{dm}}} </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-primary">
                    <img src="pix/icono_AR.png" class="card-img-top" alt="AR">
                    <div class="card-body">
                        <a class="card-link" href="{{{ar_url}}}"> {{{ar}}} </a>                   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="scripts/deadlock_main.js"></script>
</body>
</html>


