<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Deadlock</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <h5 id="h5"> {{{select}}} </h5>
    <div class="row mb-3">
        <div class="col-3">
            <div class="card text-center border-primary">
                <img src="pix/icono_SLI.png" class="card-img-top" alt="SLI">
                <div class="card-body">
                    <a id="a" href="{{{sli_url}}}"> {{{sli}}} </a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-center border-primary">
                <img src="pix/icono_MS.png" class="card-img-top" alt="MS">
                <div class="card-body">
                    <a id="a" href="{{{ms_url}}}"> {{{ms}}} </a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-center border-primary">
                <img src="pix/icono_VD.png" class="card-img-top" alt="DM">
                <div class="card-body">
                    <a id="a" href="{{{dm_url}}}"> {{{dm}}} </a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-center border-primary">
                <img src="pix/icono_AR.png" class="card-img-top" alt="AR">
                <div class="card-body">
                    <a id="a" href="{{{ar_url}}}"> {{{ar}}} </a>                   
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/script.js"></script>

</body>

