<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DM</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <h5 class="mb-3" style="text-align: center;">'. get_string('datos_interbloqueo', 'mod_simulation') .'</h5>
    <div class="row mb-4">
        <div class="col-6 mb-3" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="filas" placeholder=" '. get_string('procesos', 'mod_simulation') .' "style="margin-inline-start: 10px;">
        </div>

        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="columnas" placeholder=" '. get_string('recursos', 'mod_simulation') .' "style="margin-inline-start: 10px;">
        </div>
    </div>

    <div>
        <button class="btn letter" onclick="generarmatricesDM()">'. get_string('view', 'mod_simulation') .'</button>
    </div>

    <h5 class="mb-3" style="text-align: center;"> '. get_string('complete', 'mod_simulation') .' </h5>
    <div class="row container-fluid">
        <h5 id="letreroMA"> '. get_string('matrizA', 'mod_simulation') .' </h5>  
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizA"></table>
        </div>

        <h5 id="letreroMS"> '. get_string('matrizS', 'mod_simulation') .' </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizS"></table>
        </div>

        <h5 id="letreroVD">'. get_string('vectorD', 'mod_simulation') .'</h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorD"></table>
        </div>

        <h5 id="letreroVE">'. get_string('vectorE', 'mod_simulation') .'</h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorE"></table>
        </div>

        <h5 id="letreroSP">'. get_string('secuenciaP', 'mod_simulation') .'</h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="secuenciaP"></table>
        </div>
    </div>

</body>