<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="s01"> 
        <h4> {{{intro}}} </h4>
    </div>

    <div class="container02">
        <div class="column">
            <h5 id="h5" > {{{gest_interbloqueo}}} </h5> <br>
            <img id="pix00" src="/mod/simulation/pix/pix1.png" alt="pix1"> <br>
            <a id="a" href="{{{deadlock_url}}}"> {{{explore}}} </a>
        </div>

        <div class="column">
            <h5 id="h5"> {{{gest_memoria}}} </h5> <br>
            <img id="pix00" src="/mod/simulation/pix/pix2.png" alt="pix1"> <br>
            <a id="a" href="{{{memory_url}}}"> {{{explore}}} </a>
        </div>

    </div>

        <script src="scripts/script.js"></script>
        
</body>

