{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{$ title }}Memory{{/ title }}</title>
        {{$ stylesheets }}
            <link rel="stylesheet" href="styles/style.css">
        {{/ stylesheets }}
    </head>
    <body>
        <div class="container02">
            <div class="column">
                <h5 id="h5" > {{{calculate_memory}}} </h5> <br>
                <img id="pix00" src="/mod/simulation/pix/icon_deadlock.png" alt="calculos"> <br>
                <a id="botonSimular" class="btn letter" href= "{{{calculate_url}}}" > {{{explore}}} </a>
            </div>

            <div class="column">
                <h5 id="h5"> {{{simular_reemplazo}}} </h5> <br>
                <img id="pix00" src="/mod/simulation/pix/icon_memory.png" alt="reemplazo"> <br>
                <a id="botonSimular" class="btn letter" href= "{{{replace_url}}}" > {{{explore}}} </a>
            </div>
        </div>

        {{$ scripts }}
            <script src="scripts/script.js"></script>
        {{/ scripts }}
    </body>
</html>
