{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{$ title }}Replace{{/ title }}</title>
        {{$ stylesheets }}
            <link rel="stylesheet" href="styles/memory.css">            
        {{/ stylesheets }}
    </head>
    <body>
        <div class="table-container1">
            <!-- Primera tabla (peticiones) -->
            <table id="table1" ></table>
        </div>

        <div class="table-container2">       
            <!-- Segunda tabla (reemplazo) -->
            <table id="table2"></table>
        </div>

        <div class="container-fluid mb-3" style="text-align: center; align-items: center; margin-top: 30px;">
            <h5> {{{select_algoritmo}}} </h5> 
            <label for="validationCustom04" class="form-label" style="margin-top = 10px"></label>
            <select class="form-select mb-4 container-fluid" id="validationCustom04" required style="width: auto;">
                <option selected disabled value=""> {{{elegir}}} </option>
                <option value="FIFO GLOBAL">FIFO GLOBAL</option>
                <option value="FIFO LOCAL">FIFO LOCAL</option>
                <option value="LRU GLOBAL">LRU GLOBAL</option>
                <option value="LRU LOCAL">LRU LOCAL</option>
                <option value="OPTIMO GLOBAL">ÓPTIMO GLOBAL</option>
                <option value="OPTIMO LOCAL">ÓPTIMO LOCAL</option>
            </select>

            <div class="container-fluid mb-3" style="text-align: center; align-items: center; margin-top: 30px;">
                <button id="botones" class="btn letter" onclick="simularFIFOlocal()"> {{{simular}}} </button>
            </div>
        </div>

        <div class="container-fluid mb-3" style="text-align: center; align-items: center; margin-top: 30px;"> 
            <h5 id="resultado"> {{{resultado}}} </h5>
        </div>


        {{$ scripts }}
            <script src="scripts/replace_main.js"></script>
        {{/ scripts }}
    </body>
</html>