<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SLI</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <h5 class="mb-3" style="text-align: center;"> {{{datos}}} </h5>
    <div class="row mb-4">
        <div class="col-6 mb-3" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="filas" placeholder=" {{{procesos}}} "style="margin-inline-start: 10px;">
        </div>

        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="columnas" placeholder=" {{{recursos}}} "style="margin-inline-start: 10px;">
        </div>
    </div>

    <div class="mb-3" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn letter" style="text-align:center" onclick="generarmatricesSLI()"> {{{view}}} </button>
    </div>

    <h5 class="mb-3" style="text-align: center;"> {{{complete}}} </h5>
    <div class="row container-fluid">
        <h5 id="letreroMA"> {{{matrizA}}} </h5>  
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizA"></table>
        </div>

        <h5 id="letreroMS"> {{{matrizS}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizS"></table>
        </div>

        <h5 id="letreroVD"> {{{vectorD}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorD"></table>
        </div>

        <h5 id="letreroVE"> {{{vectorE}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorE"></table>
        </div>
    </div>

        <h5 id="primeraiteracion"></h5>
        

    <script src="scripts/script.js"></script>

</body>