<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLI</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <h5 class="mb-3" style="text-align: center;"> {{{datos}}} </h5>
    <div class="row mb-4">
        <div class="col-6 mb-3" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="filas" placeholder=" {{{procesos}}} " style="margin-inline-start: 10px;">
        </div>

        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <input type="number" id="columnas" placeholder=" {{{recursos}}} " style="margin-inline-start: 10px;">
        </div>
    </div>

    <div class="mb-3" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn letter" style="text-align:center" onclick="generarTablas()"> {{{view}}} </button>
    </div>

    <div class="mb-3" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn letter" style="text-align:center" onclick="leerTablas()"> {{{read}}} </button>
    </div>

    <h5 class="mb-3" style="text-align: center;"> {{{complete}}} </h5>
    <div class="row container-fluid">
        <h5 id="letreroMA"> {{{matrizA}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizAsignacion"></table>
        </div>

        <h5 id="letreroMS"> {{{matrizS}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="matrizSolicitud"></table>
        </div>

        <h5 id="letreroVD"> {{{vectorD}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorDisponibilidad"></table>
        </div>

        <h5 id="letreroVE"> {{{vectorE}}} </h5>
        <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
            <table id="vectorExistencia"></table>
        </div>
    </div>

    <div class="container-fluid mb-4" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn letter" id="botonSimular" style="margin-left: 10px;" onclick="simularSLI()"> {{{simular}}} </button>
    </div>

    <div id="resultados"></div>

    <script src="scripts/sli_main.js"></script>

</body>

</html>
