#mensaje {
    display: none;
    color: #00135a; 
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    margin-top: 10px;
}

th, td {
    border: 1px solid #00135a;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#letrero {
    color: #00135a; 
}