.table-container1 {
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    float:inline-end;
    margin-bottom: 20px;
    }

#table1 {
    border-collapse: collapse;
    width: auto;
    }

.table-container2 {
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    float:none;
    }

#table2 {
    border-collapse: collapse;
    width: 40%;
    } 

th, td {
    border: 1px solid #00135a;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    }
        
th {
    background-color: #f2f2f2;
    }

#table1 th,
#table1 td,
#table2 th,
#table2 td {
    width: auto;
    min-width: 80px;
    max-width: 25%;
    }

#botones {
    color: white;
    background-color: #00135a;
}

.btn-custom {
    background-color: #00135a;
    color: white;
}

.btn-custom:hover {
    background-color: #00135a;
    opacity: 0.8;
}