body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}
.table-container1 {
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    float:inline-end;
    margin-bottom: 20px;
}
#table1 {
    border-collapse: collapse;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table-container2 {
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    float:none;
}
#table2 {
    border-collapse: collapse;
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}        
th {
    background-color: #f2f2f2;
}
#table1 th,
#table1 td,
#table2 th,
#table2 td {
    width: auto;
    min-width: 80px;
    max-width: 25%;
}
.section-title {
    text-align: left;
    margin: 20px;
    color: black;
}
.algorithm-selection {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.col-4 {
    flex: 1;
    max-width: 33.3333%;
    padding: 10px;
}
.btn-custom {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    background-color: #0056b3;
}
.btn-custom:hover {
    background-color: #0056b3;
    opacity: 0.8;
}
.result-container {
    display: none;
    text-align: center;
    margin: 40px auto;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #0056b3;
}
@media (max-width: 768px) {
    .col-4 {
        max-width: 100%;
    }
}